ion-item-sliding.task-item > ion-item {
  border-left: 5px solid var(--ion-color-primary);
  /* padding-left: 10px; */
}

ion-item-sliding.task-item ion-label {
  margin-left: 3px;
}

ion-item-sliding.task-item > ion-item:hover {
  --ion-background-color: var(--ion-color-primary-light) !important;
}

ion-item-sliding.task-item ion-item h4 {
  font-weight: bold;
  color: var(--ion-color-secondary);
}
